---Flask Scaffold---
The following settings will be used to create your new app:

Project Name:          {{ appname }}
Project Path:          {{ path }}
Python Version:        {{ python_version }}
Virtual Environment:   {% if virtualenv %}Enabled{% else %}Disabled{% endif %}
Git Repository:        {% if git %}Enabled{% else %}Disabled{% endif %}

---End---
