---Flask Skeleton---
App will be created with the following settings:

Project Name:                 {{ app_name }}
Project Path:                 {{ path }}
Python Version:               {{ 'Python %s' % version }}
Create Virtual Environment:   {{ 'Yes' if env else 'No' }}
Initialize Git Repo:          {{ 'Yes' if git else 'No' }}

---End---